/* Media quries(Burger) */
@media screen and (max-width: 1020px) {
  header {
    height: 5.5rem;
  }

  .burger {
    display: block;
    cursor: pointer;
    padding: 0.2em;
  }

  .burger span {
    padding: 0.1rem 1.3rem;
    background: var(--white);
    margin: 0.3rem 0;
    display: block;
    transition: transform 0.5s ease;
  }

  .nav__links {
    background-color: var(--yellow);
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.5s ease;

    align-items: center;
  }

  .nav-open {
    transform: translate(-100%);
  }

  .toggle {
    z-index: 2000;
  }

  .toggle .line1 {
    transform: rotateZ(48deg) translateY(376%);
  }

  .toggle .line2 {
    transform: translateX(500%);
  }
  .toggle .line3 {
    transform: rotateZ(-46deg) translateY(-403%);
  }

  .nav__item--cart {
    font-size: clamp(1.6rem, 3vw, 2rem);
    padding: 0;
  }

  .nav__links .nav__item {
    width: 10rem;
    padding: 0.5em 0;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 5rem;
  }

  .logo__link {
    font-size: 1.5rem;
  }

  .nav__item--cart {
    font-size: 1.5rem;
  }
  .fa-shopping-cart {
    padding: 0.2em;
  }

  .burger {
    margin-left: 0;
    padding: 0.25rem;
  }

  .burger span {
    padding: 0.07em 0.8em;
    margin: 0.25rem 0;
  }
  .toggle .line1 {
    transform: rotateZ(48deg) translateY(365%);
  }

  .toggle .line3 {
    transform: rotateZ(-46deg) translateY(-332%);
  }
}

/*banner*/
@media screen and (max-width: 450px) {
  .hero-text__heading {
    font-size: 5.6rem;
  }
  .hero-text__tagline {
    font-size: 1.1rem;
    margin-top: -1rem;
    width: 20rem;
  }
}

/*limited time*/
@media screen and (max-width: 1100px) {
  .limited-time_content-wraper {
    grid-template-columns: 1fr;
    padding: 0.9rem;
  }

  .limited-time__text {
    width: 80%;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  #limited-time__img {
    top: -6rem;
    right: -3rem;
    width: 31rem;
    transform: rotate(59deg);
  }
}

@media screen and (max-width: 740px) {
  #limited-time__img {
    top: 0rem;
    right: -2rem;
  }
}
@media screen and (max-width: 550px) {
  #limited-time__img {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .limited-time__text {
    font-size: 1.7rem;
  }

  .limited-time__time {
    font-size: 5.2rem;
  }
}

/*special*/
@media screen and (max-width: 450px) {
  .special-flavours__heading {
    font-size: 2.1rem;
  }

  .special-flavours__products-grid {
    padding: 1em;
  }
}

/*featured*/
@media screen and (max-width: 1100px) {
  .featured-products {
    margin: 0rem auto 4rem;
    padding: 2em;
  }

  .featured-products img {
    float: none;
    transform: rotate(0);
    width: 20rem;
    display: block;
    margin: auto;
  }

  .featured-products h4 {
    margin: 0;
  }

  .featured-products p {
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .featured-products {
    line-height: 1.8rem;
  }
  .featured-products img {
    width: 15rem;
  }
  .featured-products h4 {
    font-size: 1.8rem;
  }

  .featured-products p {
    font-size: 1.2rem;
  }
}

/* why us*/
@media screen and (max-width: 750px) {
  .why-us__reasons img {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .why-us__reasons-wrapper {
    flex-direction: column;
  }
  .why-us__reasons img {
    width: 30%;
  }
  .why-us__reasons {
    width: 100%;
    padding: 0.5em;
  }
}

@media screen and (max-width: 450px) {
  .why-us__reasons {
    width: 90%;
  }
}

@media screen and (max-width: 390px) {
  .why-us__heading {
    font-size: 1.8rem;
  }
}

/*footer*/
@media screen and (max-width: 400px) {
  .address,
  .me {
    font-size: 0.8rem;
  }
  .contact i,
  .contact a {
    font-size: 2rem;
  }
}

/*animation*/
@media screen and (max-width: 1100px) {
  .animate-featured-img {
    animation: animate-img 0.3s alternate ease;
    animation-iteration-count: 2;
  }
}

@keyframes animate-featured-img {
  from {
    transform: rotate(34deg);
  }
  to {
    transform: rotate(34deg) scale(1.05);
  }
}

@keyframes animate-img {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

